<header>
  <div class="container">
    <a routerLink="/" class="logo">OnStore</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list">Grocery</a></li>
        <div class="dropdown">
            <button class="dropbtn">Dropdown
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#" routerLink="/list">Meat</a>
              <a href="#" routerLink="/list">Fish</a>
              <a href="#" routerLink="/list">Bread</a>
              <a href="#" routerLink="/list">Pasta</a>
              <a href="#" routerLink="/list">Milk</a>

            </div>
          </div>
         
        <li><a href="#" routerLink="/bascket">Bascket</a></li> 
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
