$primary: rgb(149, 187, 122);

header {
    background: rgb(149, 187, 122, 0.8);

    padding: 1em 0;

    a {
        color: #1D344E;
        text-decoration: none;
    }
    a.logo {
        color: #1D344E;
        font-weight: bold;
        font-size: 2em;
    }

    nav {
        float: initial;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;
                font-weight: bold;
                font-size: 1em;

                &:hover {
                    background: darken($primary, 10%);
                    background-size: auto;
                }
            }
        }
    }
}

hr{
    border-block-color: black;
}
