<div class="sidenav">
    
    <a href="list#top"> Go to top</a>
    <a href="list#{{type}}" *ngFor="let type of types" >{{type}}</a>
    <a href="#" routerLink="/bascket">Buy now!</a>

  </div>

<a *ngFor="let type of types">
<a ></a>
  <h2 id={{type}}>{{type}}</h2>
  
  <hr>
  <nav>
    <ul>
    <a *ngFor="let product of products">
      <a *ngIf="product.type==type">
        <a class="container2">
        <a class="quantity">
          <img src={{product.picture}} height="220" width="300">
          
          <div class="bottom-left">{{product.price}} $</div>
          
          <div class="top-right">{{product.description}}</div>
          <div class="bottom-right"><span (click)="quantityDecrease(product.name)">-</span> {{product.quantity}}
          <span (click)="quantityIncrease(product.name)">+</span></div></a>
      </a>
      </a>
    </a>
  </ul>
  </nav>
</a>

<p></p>
<p></p>

