$primary: rgb(149, 187, 122);

header {
    background: rgb(149, 187, 122, 0.8);
    overflow: hidden;
    background-color: darken ($primary, 15%);
    position: fixed; /* Set the navbar to fixed position */
    width: 80%; /* Full width */
    z-index:1;
    font-size: 1.5em;

    a {
        color: #1D344E;
        text-decoration: none;
    }
    a.logo {
        color: #1D344E;
        font-weight: bold;
        font-size: 2em;
    }

    nav {
        float: initial;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;
                font-weight: bold;
                font-size: 1em;

                &:hover {
                    background: darken($primary, 10%);
                    background-size: auto;
                }
            }
        }
    }
}

.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: $primary;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

p{
    padding: 3em;
}

hr{
    border-block-color: black;
}

.gallery {
    
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 200em;
}
 
.container2 {
    position: relative;
    color: white;
    display: inline-block;
    padding-left: 2em;
    padding-top: 2em;
    
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 2em;
    padding-left: 1.5em;
    background-color: black ;
    opacity: 0.8;
  }

  .top-right {
    position: absolute;
    top: 2.1em;
    background-color: black;
    opacity: 0.8;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: black ;
    opacity: 0.8;
    cursor: pointer;
  }