<nav>
    <ul>
    <a *ngFor="let product of products">
        <a *ngIf="product.quantity>0">
        <a class="container2">
        <img src={{product.picture}} height="220" width="300">
            <div class="bottom-left">{{product.price}} $</div>
            <div class="top-right">{{product.description}}</div>
            <div class="bottom-right"><span (click)="quantityDecrease(product.name)">-</span> {{product.quantity}}
              <span (click)="quantityIncrease(product.name)">+</span></div></a>
        </a>
    </a>
    </ul>
</nav>