
$primary: rgb(149, 187, 122);

h1{
    font-size: 3em;
    font-weight: bold;
    color: black;
    text-align: center;
}


.play-container {
    padding: 3em;
    left:32em;
    color: darken($primary,10%);
    margin-bottom: 2em;
    position: absolute;
    background-color: rgb(0,0,0,0.7);
    font-weight: bold;
    font-size:1.2em;


    input {
        padding: 1em;
        margin-bottom: 2em;
        font-weight: bold;
    }
    span {
        font-weight: bold;
        color: black;
        background-color: grey;
        padding: .4em .8em;
        cursor: pointer;
        user-select: none;
        color: darken ($primary, 10%);
        position: relative;     
        text-align: center;
    }
}

.search {
    
    color: black;
    font-weight: bold;
    font-size:1.2em;
    position: absolute;
    width: 80%;
    padding: 2em;
    background-color: rgb($primary,0.7);
    

    input {
        padding: 1em;
        margin-bottom: 2em;
        font-weight: bold;
    }
    .cont{
        display: inline-block;
    }
    .container {
        display: inline;
        position: relative;
        color: white;
        display: inline-block;
        padding-left: 2em;
        padding-top: 2em;
        
      }
      
      /* Bottom left text */
      .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 2em;
        padding-left: 1.5em;
        background-color: black ;
        opacity: 0.8;
      }
    
      .top-right {
        position: absolute;
        top: 2.1em;
        background-color: black;
        opacity: 0.8;
      }
    
      .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 0em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        background-color: black ;
        opacity: 0.8;
        cursor: pointer;
      }
    
    
}



